/* load font */
@font-face {
    font-family: UndergroundNF;
    src: url(../fonts/UndergroundNF.otf);
}


/* set defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 50px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    font-family: UndergroundNF;
}

h2.section-heading {
    margin-bottom: 30px;
    text-align: center;
}


/* navbar and logo */
header {
    clear: both;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 200px;
    border-bottom: 1px solid gold;
    background-color: rgb(181, 5, 15);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    /* float: left; */
    font-size: 110%;
    /* margin-left: 120px; */
    color: white;
}
#logo .brand {
    font-size: 140%;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    /* position: relative; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
}

#menu ul {
    /* float: right; */
    /* margin-right: 100px; */
    /* padding-top: 5px; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}

#menu li {
    list-style-type: none;
    border-bottom: 1px solid rgb(181, 5, 15);
    /* margin-right: 20px; */
    /* display: inline-block; */
}
#menu a:not(:last-child) li {
    margin-right: 20px;
}

#menu li:hover {
    border-bottom: 1px solid white;
}


/* hero image */
#hero {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/hero.jpeg') no-repeat center center;
    background-size: 100%;
}

.hero-overlay-gradient {
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.9) 90%);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    top: 0;
    width: 100%;
}

#hero-text {
    font-size: 130%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}
#hero-text h2 {
    font-size: 220%;
    margin-bottom: 10px;
}
#hero-text .brand {
    font-size: 1.3em;
}
#hero-text h4 {
    margin-bottom: 1em;
}


/* general page content */
section {
    scroll-margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}


/* Form elements */
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
form input, form textarea, form button {
    width: 90%;
    font-size: 1em;
    margin: 10px 20px;
    padding: 5px 10px;
    border: 1px solid rgb(181, 5, 15);
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
form input, form button {
    height: 35px;
    padding: 5px 10px;
}


/* About */
#about {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
}

#about .about-section {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

#about p {
    padding: 10px;
    width: 50%;
}


/* Join and Contact sections */
#join, #contact {
    margin: 0 25px 50px;
    background-color: rgb(181, 5, 15);
    color: white;
    padding: 35px;
    border: 1px solid gold;
    border-radius: 5px;
}
#join .join-inner *:not(h2), #contact .contact-inner *:not(h2) {
    margin-bottom: 10px;
}
#join .join-inner::after, #contact .contact-inner::after {
    content: '';
    clear: both;
    display: block
}

#join form, #contact form {
    float: right;
    width: 40%;
    padding: 10px;
}
#join .join-text, #contact .contact-text {
    width: 50%;
    float: left;
    padding: 20px;
}

#contact textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


/* Upcoming events */
#upcoming {
    padding: 10px;
}
#upcoming::after {
    content: '';
    clear: both;
    display: block;
}

#next-event, #future-events {
    width: 50%;
    float: left;
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
#future-events .upcoming-event:not(:last-child) {
    margin-bottom: 15px;
}

.upcoming-event {
    border: 1px solid gold;
    position: relative;
}
.event-when p {
    text-align: center;
}
#future-events .upcoming-event::after {
    content: '';
    clear: both;
    display: block;
}
#future-events .upcoming-event {
    padding: 10px 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
}
#future-events .upcoming-inner {
    flex-grow: 1;
}
#future-events .what-where {
    width: 80%;
}
#future-events .upcoming-inner > *:first-child {
    margin-bottom: 5px;
}

#next-event .upcoming-event h3, #next-event .upcoming-event p {
    text-align: center;
    padding: 10px;
}
#next-event .upcoming-event h3 {
    font-size: 2em;
    flex-grow: 1;
}
#next-event .upcoming-event p {
    font-size: 1.5em;
    flex-grow: 1;
}
#next-event > p {
    font-size: 110%;
    padding: 10px 0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#next-event > * {
    flex-grow: 1;
}
#next-event .upcoming-event {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 15px;
}


/* form label hiding class courtesy of 'https://www.w3.org/WAI/tutorials/forms/labels/' */
form label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* media queries */
@media only screen and (max-width: 1400px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        max-width: 95%;
    }

    #logo {
        margin-left: 20px;
    }

    #menu ul {
        margin-right: 10px;
    }

    #menu li {
        margin-right: 10px;
    }

    #hero, #hero-image {
        height: 550px;
    }

    #join form, #contact form {
        width: 50%;
    }
    #join .join-text, #contact .contact-text {
        padding: 10px;
    }

    #next-event .upcoming-event h3 {
        font-size: 1.5em;
    }
    #next-event .upcoming-event p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 600px) {
    #hero {
        max-height: 400px;
    }
    #hero-image {
        background: url('../images/hero 400x400.jpg') no-repeat center center;
        max-width: 600px;
        max-height: 400px;
    }
    #hero-text {
        font-size: 110%;
    }
    #hero-text h2 {
        font-size: 170%;
    }
    #about {
        padding: 15px;
    }
    #about h2 {
        margin-bottom: 10px;
    }
    #about p {
        width: 90%;
        margin-bottom: 15px;
    }
    #join, #contact {
        padding: 15px;
    }
    #join form, #contact form, #join .join-text, #contact .contact-text {
        width: 100%;
    }
    form input, form textarea, form button {
        width: 100%;
        margin: 10px 0;
    }
    #next-event, #future-events {
        width: 100%;
    }
    #upcoming .section-heading {
        margin-bottom: 5px;
    }
}
